{% extends "profile/friends/friends.html" %}
{% load static %}
{% block friends %}
{% csrf_token %}

<div class="rounded-x-lg rounded-b-lg bg-white px-4 py-2 shadow-xl border-t-2 border-gray-200 grid grid-cols-2 gap-4">
{% for user in users %}
    <div class="flex" id="user">
        <img class="h-24 aspect-square rounded-l-lg" src="{{ 'static/images/user2.png' }}">
        <div class="border-r border-t border-b flex items-center pr-2 rounded-r-lg w-full">
            <p class="ml-4 text-lg">{{ user.first_name }} {{ user.last_name }}</p>
            {% if user in subscriptions %}
            <button id="{{ user.username }}" name="clicked"
                    onclick="subscribe({{ user.username }}, {{ current_user }}, {{ user.username }})"
                    class="px-4 py-2 ml-auto bg-blue-100 text-white font-semibold transition rounded-xl hover:bg-blue-400">
                Subscribe
            </button>
            {% else %}
            <button id="{{ user.username }}" name="notClicked"
                    onclick="subscribe({{ user.username }}, {{ current_user }}, {{ user.username }})"
                    class="px-4 py-2 ml-auto bg-blue-500 text-white font-semibold transition rounded-xl hover:bg-blue-400">
                Subscribe
            </button>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}