{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col relative">
    <div class="rounded-t-lg pt-6 bg-[#f9f9f9] h-24 border-b-2 border-[#eeeeee]">
        <div class="ml-[19rem]">
            <h1 class="text-lg font-semibold">{{ user.first_name }} {{ user.last_name }}</h1>
            {% if user.profile.about_me %}
                <p class="mb-3">{{ user.profile.about_me }}</p>
            {% else %}
                <p class="mb-3"> - </p>
            {% endif %}
        </div>
    </div>
    <div class="pt-4 flex rounded-b-lg bg-white h-80">
        <div class="mt-[-5.5rem] ml-[1.5rem]">
            <div class="relative rounded-full overflow-hidden h-[15rem] flex mx-auto" id="avaDiv">
                <img src={{ profile.avatar.url }} class="cursor-pointer hover:opacity-50 transition rounded-full aspect-square object-cover">
            </div>
        </div>
        <div class="ml-6">
            <div class="flex">
                <ul class="text-gray-400">
                    <li>Sex:</li>
                    <li>Interested in:</li>
                    <li>Relationship Status:</li>
                    <li>Looking For:</li>
                    <li>Birthday:</li>
                    <li>Hometown:</li>
                </ul>
                <ul class="ml-6">
                    <li>{{ profile.sex }}</li>
                    <li>{{ profile.interested_in }}</li>              
                    <li>{{ profile.relationship_status }}</li>
                    <li>{{ profile.looking_for }}</li>
                    <li>{{ profile.birthday }}</li>
                    <li>{{ profile.hometown }}</li>           
                </ul>
            </div>
            <div class="flex mt-4">
                <div class="font-semibold">
                    <p>Subscribers - {{ subscribers }}</p>
                    <p>Subscriptions - {{ subscriptions }}</p>
                </div>
                <button id="btnProf" class="px-4 self-center h-8 ml-12 bg-blue-500 text-white font-semibold transition rounded-xl hover:bg-blue-400">Edit profile</button>
            </div>
        </div>
    </div>
</div>
<div class="left-0 top-0 w-full h-full hidden fixed z-1 pt-48 bg-white/60" id="profModal">
    <div class="shadow-xl bg-neutral-50 m-auto border-1 border-zinc-500 w-1/4">
        <div class="border-b border-gray-300 flex p-3">
            <div>
                <h1 class="font-bold text-3xl">Edit profile</h1>
            </div>
            <img id="cross" alt="cross" class="h-8 ml-auto cursor-pointer" src="{% static 'images/cross.png' %}">
        </div>
        <div class="p-4 flex flex-col">
            <form class="flex flex-col space-y-2" method="POST" action="{% url 'update_profile' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="updateProfile">
                {{ form.about_me }}
                {{ form.interested_in }}
                <div class="flex space-x-2">
                    {{ form.relationship_status }}
                    {{ form.looking_for }}
                </div>
                <div class="flex space-x-2">
                    {{ form.sex }}
                    {{ form.birthday }}
                </div>
                {{ form.hometown }}

                <button type="submit" name="Profile" class="w-2/5 text-white text-xl font-semibold h-10 bg-green-500 transition hover:bg-green-600 mt-6 mx-auto rounded-lg">Edit</button>
            </form>
        </div>
    </div>
</div>
<div class="left-0 top-0 hidden w-full h-full fixed z-1 pt-48 bg-white/60" id="avaModal">
    <div class="shadow-xl bg-neutral-50 m-auto border-1 border-zinc-500 w-1/4">
        <div class="border-b border-gray-300 flex p-3">
            <div>
                <h1 class="font-bold text-3xl">Edit avatar</h1>
            </div>
            <img id="cross-ava" alt="cross" class="h-8 ml-auto cursor-pointer" src="{% static 'images/cross.png' %}">
        </div>
        <div class="p-4">
            <form enctype="multipart/form-data" class="flex flex-col" method="POST" action="{% url 'update_ava' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="updateAva">
                <label class="relative rounded-full overflow-hidden h-[15rem] flex mx-auto" for="imageInput">
                    <img src={{ profile.avatar.url }} class="cursor-pointer hover:opacity-50 transition rounded-full aspect-square object-cover" id="display-image">
                </label>
                {{ form_ava.image }}
                <button type="submit" name="Avatar" class="w-3/5 text-white text-xl font-semibold h-10 bg-green-500 transition hover:bg-green-600 mt-6 mx-auto rounded-lg">Edit</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
<style>
    #profModal {
        opacity: 0;
        animation: ani 0.5s forwards;
    }
    @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
</style>
{% endblock %}