{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
    <div class="w-full bg-gray-100 rounded-lg">
        <div class="">
            <h1 class="font-bold ml-3 text-xl flex text-black-300 h-10 border-gray-100 pt-1">Friends</h1>
            <ul class="flex ml-3 font-semibold text-lg mb-1">
                {% if page == 0 %}
                    <a href="{% url 'friends_all' %}" class="mr-3 hover:cursor-pointer"><li class="[word-spacing:-0.1rem] text-blue-600">All People</li></a>
                {% else %}
                    <a href="{% url 'friends_all' %}" class="mr-3 hover:cursor-pointer"><li class="[word-spacing:-0.1rem] ">All People</li></a>
                {% endif %}
                {% if page == 1 %}
                    <a href="{% url 'friends_subscribers' %}" class="mr-3 hover:cursor-pointer"><li class="text-blue-600">Subscribers</li></a>
                {% else %}
                    <a href="{% url 'friends_subscribers' %}" class="mr-3 hover:cursor-pointer"><li class="">Subscribers</li></a>
                {% endif %}
                {% if page == 2 %}
                    <a href="{% url 'friends_subscriptions' %}" class="mr-3 hover:cursor-pointer"><li class="text-blue-600">Subscriptions</li></a>
                {% else %}
                    <a href="{% url 'friends_subscriptions' %}" class="mr-3 hover:cursor-pointer"><li class="">Subscriptions</li></a>
                {% endif %}
            </ul>
                {% block friends %} {% endblock %}

        </div>
    </div>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}