{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="w-2/3">
        <div>
            <h1 class="font-semibold ml-3 text-lg flex text-blue-700 h-10 border-gray-300 border-b pt-1">Make Post</h1>
            <div class="flex bg-white px-4 py-4 mb-4 shadow-xl rounded-lg">
                <img class="h-12 aspect-square object-cover rounded-full" src={{ user.profile.avatar.url }}>
                <form method="post" enctype="multipart/form-data" action={% url 'create_post' %}>
                    {% csrf_token %}
                    <div>
                        {{ form.content }}
                    </div>
                    <div class="flex">
                        {{ form.image }}
                        <label for="file-input"
                               class="font-bold block text-black-400 bg-gray-200 w-24 rounded-2xl text-center h-8 p-1 hover:bg-gray-300 cursor-pointer transition">Photo</label>
                        <button type="submit"
                                class="h-8 w-20 rounded-xl bg-blue-400 ml-auto mr-12 text-center font-bold text-white text-lg hover:bg-blue-500 transition">
                            Share
                        </button>
                    </div>
                    <img src="" class="mt-4 h-24 absolute" id="display-image">
                </form>
            </div>
            {% for post in posts %}
                <div class="bg-white shadow-xl mb-4 py-4 px-2 rounded-lg">
                    <div class="p-3">
                        <div class="flex">
                            <img class="aspect-square h-12 rounded-full object-cover" src={{ post.user.profile.avatar.url }}>
                            <div class="ml-2 block">
                                <div class="font-semibold text-lg h-6">{{ post.user.first_name }} {{ post.user.last_name }}</div>
                                <div>{{ post.created_at.date }}</div>
                            </div>
                        </div>
                        <div class="break-all">{{ post.content }}</div>
                    </div>
                    {% if post.image %}
                        <img class="p-4 mx-auto aspect-video w-full h-full object-cover object-contain " src={{ post.image.url }}>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}